<configuration>
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] %logger{36} - %msg%n" />
    <property name="APP_LOG_ROOT" value="./logs"/>
    <property name="DATE" value="%d{yyyy-MM-dd}"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="applicationLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${APP_LOG_ROOT}/${DATE}.log</fileNamePattern>-->
<!--        </rollingPolicy>-->
<!--        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
<!--            <maxFileSize>100MB</maxFileSize>-->
<!--        </triggeringPolicy>-->

<!--        rollover each day, file number start at 0-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/${DATE}.%i.log</fileNamePattern>
            <maxHistory>0</maxHistory>
            <totalSizeCap>0</totalSizeCap>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework" level="error">
        <appender-ref ref="applicationLog" />
        <appender-ref ref="console" />
    </logger>

    <logger name="org.hibernate" level="error">
        <appender-ref ref="applicationLog" />
        <appender-ref ref="console" />
    </logger>
    <root level="error">
        <appender-ref ref="applicationLog"/>
        <appender-ref ref="console" />
    </root>

</configuration>