<configuration>
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] %logger{36} - %msg%n" />
    <property name="APP_LOG_ROOT" value="./logs"/>
    <property name="DATE" value="%d{yyyy-MM-dd}"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="applicationLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/${DATE}/info-log.%i.log</fileNamePattern>
            <maxHistory>0</maxHistory>
            <totalSizeCap>0</totalSizeCap>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/${DATE}/error-log.%i.log</fileNamePattern>
            <maxHistory>0</maxHistory>
            <totalSizeCap>0</totalSizeCap>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="errorLog"/>
        <appender-ref ref="applicationLog"/>
        <appender-ref ref="console" />
    </root>

<!--    <logger name="org.springframework" level="INFO">-->
<!--        <appender-ref ref="applicationLog" />-->
<!--        <appender-ref ref="console" />-->
<!--    </logger>-->

<!--    <logger name="org.hibernate" level="INFO">-->
<!--        <appender-ref ref="errorLog"/>-->
<!--        <appender-ref ref="applicationLog" />-->
<!--        <appender-ref ref="console" />-->
<!--    </logger>-->
<!--    <logger name="com.axonactive.basketball" level="TRACE" additivity="false">-->
<!--        <appender-ref ref="applicationLog"/>-->
<!--        <appender-ref ref="errorLog"/>-->
<!--        <appender-ref ref="console"/>-->
<!--    </logger>-->
</configuration>